<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>
<body>
	<ul class="box">
		<li><a href="/">首 页</a></li>
		<li class="line">|</li>
		<li><a href="{% url 'pro_list'%}">过敏原</a></li>
		<li class="line">|</li>
		<li><a href="page/ani/1">鱼类</a></li>
		<li class="line">|</li>
		<li><a href="page/ani/2">虾类</a></li>
		<li class="line">|</li>
		<li><a href="page/ani/3">蟹类</a></li>
		<li class="line">|</li>
		<li><a href="page/ani/4">贝类</a></li>
		<li class="line">|</li>
		<li><a href="page/spe">红外光谱介绍</a></li>
		<li class="line">|</li>
		<li><a href="page/lab">关于我们</a></li>
	</ul>
	<hr>
	<table class="mytable">
		<tr>
		{% for animal1 in animal %}
		<td>{{animal1.name}}</td>
		<td>{{animal1.family_name}}</td>
		<td>{{animal1.category_name}}</td>
		<td>{{animal1.species_name}}</td>
		<td>{{animal1.pro_name}}<a href="page/pic/{{animal1.id}}A">&nbsp;&nbsp;原始&nbsp;&nbsp;<a href="page/pic/{{animal1.id}}B">二阶</a></td>
		{% endfor %}
		</tr>
	</table>
	<hr>
	<li class='imgbox'>
		<img src="/static/img/{{pic_name}}.jpg">
	</li>
	<div class="footer">
		<p>豫ICP备18042850号-1 Copyright©2019-2020 版权所有 B403@ISHOU</p>
		<p>农业部水产品贮藏保鲜质量安全风险评估实验室(上海)</p>
	</div>
</body>
</html>