<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>红外光谱</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>
<body>
	<ul class="box">
		<li><a href="http://127.0.0.1:8000/">首 页</a></li>
		<li class="line">|</li>
		<li><a href="{% url 'pro_list'%}">过敏原</a></li>
		<li class="line">|</li>
		<li><a href="page/ani/1">鱼类</a></li>
		<li class="line">|</li>
		<li><a href="page/ani/2">虾类</a></li>
		<li class="line">|</li>
		<li><a href="page/ani/3">蟹类</a></li>
		<li class="line">|</li>
		<li><a href="page/ani/4">贝类</a></li>
		<li class="line">|</li>
		<li><a href="page/spe">红外光谱介绍</a></li>
	</ul>
	<div class="spe_info">
		<h4>红外光谱检测技术</h4>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;红外光谱是一种分子吸收光谱。当样品受到频率连续变化的红外光照射时，分子吸收某些频率的辐射，并由其振动运动或转动运动引起偶极矩的净变化，产生的分子振动和转动能级从基态到激发态的跃迁，从而形成的分子吸收光谱称为红外光谱。又称为分子振动光谱或转动光谱。食品中成分复杂，红外光谱技术的优势在于能对复杂的混合物进行有效准确地区分，其实用性已大大超越其他食品检测技术。因此，为能准确区分混合物与纯化合物红外光谱的性质差异，将混合物红外光谱特征称为“红外光谱宏观指纹特征”。随着科学技术的发展, 红外光谱技术的应用从中红外、到近红外、再到现在较为热门的傅立叶红外变换光谱(FTIR), 技术得到不断的改进，应用领域得到不断的扩充，尤其是 FTIR，由于其可在复杂的背景分辨出待测物质，故在食品中低含量物质的检测中具有极其重要的价值。</p>
		<h4>技术概述</h4>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;红外光谱一般分为近红外(Near Infrared) 、中红外(Middle Infrared) 和远红外(Far Infrared)3 个区域，波长分别为 0. 75 ～ 2. 5μm、2. 5 ～ 25μm 和 25～1000μm，波数分别为 13334 ～ 4000cm－1、4000 ～400cm－1、400 ～ 10cm －1。一般有机物在近红外光谱区的吸收主要是含氢基团(C-H，O-H，N-H，S-H 等)的倍频与合频的吸收；中红外光谱分析技术体现的是分子基频振动的信息，特征性强，大部分有机化合物基团振动频率处于中红外区，该区最适于红外光谱的定性和定量分析 ；远红外光谱区通常应用于同分异构体和金属有机化合物的定量分析研究（包括氢键复合物）。其中中红外区是研究和应用最多的区域，一般说的红外光谱就是指中红外区的红外光谱。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;按吸收峰来源可以将 2.5~25μm 的红外光谱图大体上分为特征频率区（2.5~7.7μm）以及指纹区（7.7~16.7μm）两个区域。其中特征频率区中的吸收峰基本是由基团的伸缩运动产生，数目不是很多，但具有很强的特征性，因此在基团鉴定工作上很有价值，主要用于鉴定官能团。指纹区则区峰多而复杂，没有强的特征性，主要是由一些单键C-O、C-N 和 C-X(卤素原子)等的伸缩振动及 C-H、O-H 等含氢基团的弯曲振动以及 C-C骨架振动产生。。此区域的光谱，犹如人的指纹，只要两个化合物的化学结构存在细小差别，指纹区一般就有较明显的不同，故这一区域对于鉴定分子极为重要。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前用于食品级分析的红外光谱仪普遍为傅里叶变换红外光谱仪，它是干涉型红外光谱仪器的代表，其主要特点为:1)高信噪比：FTMIR具有高光通量和多路传输特点，由于没光栅或棱镜等分光器，降低光损耗，且通过干涉进一步增强光信号，到达检测器辐射强度大；2)高分辨率：全光谱分辨率达到 0. 1cm-1并不困难，超高分辨率甚至可达到 0. 001cm-1；3)扫描速度快：所得到光谱是对多次采集数据进行平均处理，且一次数据采集仅需数秒；4)重现性好：干涉仪运动速度和稳定度是由 He－Ne 激光器监控，其重复性可达0. 001cm-1；5)傅里叶红外能扩展更多附件。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;傅里叶变换中红外光谱作为一种食品分析、检测技术，尤其在食品质量控制方面，其具有快速、无损食品等优势。红外光谱技术通过与化学计量法相结合，可实现对物质的定性和定量分析。</p>
		<h4>红外光谱解析</h4>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;红外光谱具有很强的指纹特征，任何物质在数量或结构上出现变化，红外光谱技术就可充分检测出来。如果混合物的结构产生变化，红外光谱也会发生相应的改变。因此，红外光谱技术在食品检测中主要根据红外光谱上的差异对不同的混合物样本进行检测与鉴别。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;使用红外光谱仪对样品进行检测，其发出的频率变化的射线照射到样品表面后，会生成一个红外光谱图。技术人员可根据光谱图上不同的吸收峰，找到相对应的化学基团，从而对样品成分及结构进行判断。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每个有机化合物都具有其特定的红外吸收光谱，因此红外光谱被广泛应用于定性分析。而对于复杂的混合化合物，不同分子中同一种官能团的红外吸收峰也会在特定区域内有一定的差异性，即出现混合物红外光谱的重叠峰。如果将这些官能团看作一个整体，就可以根据重叠峰进行结构解析，得到混合物中物质群组的信息。也就是说，对于纯化合物，其红外光谱吸收峰可直接给出官能团信息，而混合物的红外光谱吸收峰只能证明其中含有某些相似官能团的分子。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实际上，混合物的红外吸收光谱可以近似看作各种纯化合物的光谱叠加。某种成分在混合物中所在的比例越大，其特征峰在混合物红外光谱上的表现强度便会越大，数量也会增多。混合中某些成分含量过高，混合物的红外光谱就会与较高成分的红外光谱接近。谱峰重叠不够显著的区域，即使特定成分的含量很低，也可在混合物光谱上观察到其特征峰；而在谱峰重叠比较显著的区域，特点成分含量比较正常也会出现无明显特征的情况，可与光谱分辨增强的检测方法结合使用。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“多级红外光谱宏观指纹分析法”即为一套光谱分辨增强方法，其基本思路是使用多级光谱进行分辨增强，根据叠加峰进行成分解析，借助统计方法进行客观量化的识别和成分分析。“多级红外光谱宏观指纹分析法”包括三级鉴别法、整体解析法和专家识别法。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;三级鉴别法包括传统红外光谱、二阶导数光谱和二维相关光谱。传统红外光谱是对混合物进行鉴别的基础，构成“一级鉴别”;二阶导数红外光谱具有更高的分辨率，能够放大红外光谱上的差异，构成“二级鉴别”;二维相关红外光谱可以得到样品在外界扰动下的动态变化信息，将传统光谱在第二维上展开，因此具有更高的分辨能力，构成“三级鉴别”。</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;整体解析法是指通过官能团指认或与标准谱图做对比，根据混合物红外光谱上的叠加峰以及某种成分特征峰来对混合物的成分进行定性分析。专家识别法是指借助于光谱数据库、相似度量化评价和多组分定量分析模型，利用计算机软件完成对待测样本的整体鉴别和成分分析。</p>
	</div>
	<div class="footer">
		<p>豫ICP备18042850号-1 Copyright©2019-2020 版权所有 B403@ISHOU</p>
		<p>农业部水产品贮藏保鲜质量安全风险评估实验室(上海)</p>
	</div>
</body>
</html>