<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>过敏原</title>
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
</head>
<body>
	<ul class="box">
		<li><a href="/">首 页</a></li>
		<li class="line">|</li>
		<li><a href="{% url 'pro_list'%}">过敏原</a></li>
		<li class="line">|</li>
		<li><a href="page/ani/1">鱼类</a></li>
		<li class="line">|</li>
		<li><a href="page/ani/2">虾类</a></li>
		<li class="line">|</li>
		<li><a href="page/ani/3">蟹类</a></li>
		<li class="line">|</li>
		<li><a href="page/ani/4">贝类</a></li>
		<li class="line">|</li>
		<li><a href="page/spe">红外光谱介绍</a></li>
		<li class="line">|</li>
		<li><a href="page/lab">关于我们</a></li>
	</ul>
	<div><h3 style="text-align: center;">过敏原</h3></div>
	<hr>
	<div class="pro_info">
		<h4>水产品主要过敏</h4>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;小清蛋白（简称Pa），原肌球蛋白（简称TM），精氨酸激酶是水产品三大主要过敏原，而小清蛋白是广泛存在于各种鱼类，原肌球蛋白广泛存在于甲壳类和贝类。</p>
		<h4>原肌球蛋白</h4>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;原肌球蛋白（Tropomyosin，简称TM）是甲壳类的和贝类的主要过敏原。TM是肌原纤维的结构蛋白，存在于细肌丝中，是肌动蛋白的结合蛋白，在肌原纤维里起到抑制肌动蛋白和肌球蛋白之间的结合。TM是相互缠绕的α螺旋与亚基缠绕而成，是一种具有超螺旋结构的糖蛋白。分子量35-38 kDa，等电点为4.5，具有耐高温、耐加工处理的特性。不同种类水产品中的TM具有高度的相似性，甲壳类、贝类水产品之间过敏原的交叉反应可达90%。TM是一种耐热的水溶性糖蛋白，在胃肠道消化酶的作用下会分解形成大小不一的多肽。研究已经发现过敏现象发生的前提之一是过敏原要对胃肠酶消化具有抗性。</p>
		<h4>小清蛋白</h4>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;小清蛋白有多种亚型，鲤鱼中就有两种11.5kD大小的β型小清蛋白，分别为Cypc1.01：pI为4.41；分别为Cypc1.02：pI为4.77，都具有3个螺旋-折叠-螺旋结构。两者均具有1个蛋白激酶C磷酸化位点（37~39氨基酸残基）和3个酪蛋白激酶Ⅱ磷酸化位点（40~43,79~82,92~95氨基酸残基），其中Cypc1.01有一个糖基化位点（70~73氨基酸残基）。</p>
	</div>
	<li class="back"><a href="/">返回首页</a></li>
	<div class="footer">
		<p>豫ICP备18042850号-1 Copyright©2019-2020 版权所有 B403@ISHOU</p>
		<p>农业部水产品贮藏保鲜质量安全风险评估实验室(上海)</p>
	</div>
	
</body>
</html>